<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" media="print" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header-first-page">
      <div class="col-12 text-end">
        <div class="row">
          <div class="col-12 text-uppercase">
            CONVOCATORIA 2023 <br />
            COMISIÓN FOMENTO PRODUCTIVO
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-12">Santiago, 20 de abril de 2023</div>
          <div class="col-12">ID 001-23</div>
        </div>
      </div>
    </header>

    <header class="header-page">
      <div class="col-12 text-end">Santiago, 20 de abril de 2023</div>
    </header>

    <footer>
      <span class="footer_title">SECRETARÍA EJECUTICA CORE RM</span>
      <br />
      <span class="footer_content"
        >Dirección: Bandera #46, piso 7 Santiago - Teléfono: 2 2250 9000 - Mail
        core@gobiernosantiago.cl - www.coresantiago.cl</span
      >
    </footer>

    <main class="main-content">
      <div class="row justify-content-center mt-5">
        <div class="col-12 text-center text-uppercase">
          CONVOCATORIA SESIÓN PLENARIA ORDINARIA Nº8 <br />
          SESIÓN MODALIDAD HÍBRIDA <br />
          26 DE ABRIL 2023
        </div>
      </div>

      <div class="row justify-content-start" style="margin-top: 70px">
        Por encargo del Presidente....
      </div>

      <div class="row justify-content-center" style="margin-top: 90px">
        <div class="col-12 text-center text-uppercase fw-bold">TABLA</div>
        <div class="col-12" style="margin: 20px 0px">
          <hr />
        </div>
        <div class="col-12 text-center text-uppercase fw-bold">
          INFORME DE COMISIONES
        </div>
      </div>

      <div class="row justify-content-start" style="margin-top: 100px">
        <div class="col-12 text-uppercase text-start">
          1. INFORME COMISIÓN CONTROL DE GESTIÓN.
        </div>
        <div class="col-12"><hr /></div>
        <div class="col-12 text-start">Presidenta Claudia Hasbún Faila</div>
      </div>

      <div class="row" style="margin: 50px 0px">
        <div class="col-12" style="margin-left: 15px">
          1.1 Presentación de proyecto....
        </div>
      </div>

      <div class="row justify-content-start" style="margin-top: 100px">
        <div class="col-12 text-uppercase text-start">
          2. INFORME COMISIÓN CONTROL DE GESTIÓN.
        </div>
        <div class="col-12"><hr /></div>
        <div class="col-12 text-start">Presidenta Claudia Hasbún Faila</div>
      </div>

      <div class="row pb-5" style="margin-top: 100px">
        <div class="col-12">
          <table class="table" style="border: 1px solid #EAECF0;">
            <thead class="table-light">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Fecha</th>
                <th scope="col">Oficio</th>
                <th scope="col">Proyecto</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Tipo de solicitud</td>
                <td>26/ 04 / 2023</td>
                <td>Lorem Ipsum</td>
                <td>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </td>
              </tr>
              <tr>
                <td>Tipo de solicitud</td>
                <td>26/ 04 / 2023</td>
                <td>Lorem Ipsum</td>
                <td>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </td>
              </tr>
              <tr>
                <td>Tipo de solicitud</td>
                <td>26/ 04 / 2023</td>
                <td>Lorem Ipsum</td>
                <td>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </td>
              </tr>
              <tr>
                <td>Tipo de solicitud</td>
                <td>26/ 04 / 2023</td>
                <td>Lorem Ipsum</td>
                <td>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row justify-content-center" >
        <div class="col" style="text-align: center;">
          <img src="assets/firma.png" alt="Firma" width="190">
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-12">
          <table class="table table-bordered" style="border: 1px solid #EAECF0;">
            <thead class="table-light">
              <tr>
                <th colspan="2" style="text-align: center; background-color: #0C3A5C; color: #FFFFFF;">
                  Fomento Productivo, Innovavión y Desarrollo Tecnológico
                </th>
              </tr>
              <tr>
                <th scope="col" class="text-center">Nombre Consejera/o</th>
                <th scope="col" class="text-center">Nombre Consejera/o</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Maria Eugenia Puelma Alfaro, presidenta</td>
                <td class="text-center">Paola Chavez Madrid</td>
              </tr>
              <tr>
                <td class="text-center">Maria Eugenia Puelma Alfaro, presidenta</td>
                <td class="text-center">Paola Chavez Madrid</td>
              </tr>
              <tr>
                <td class="text-center">Maria Eugenia Puelma Alfaro, presidenta</td>
                <td class="text-center">Paola Chavez Madrid</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>
